.card-Gryffindor {
  color: #000;
  text-align: center;
}

.text-Gryffindor {
  color: #9d0208;
  text-align: center;
}

.Gryffindor {
  border: 2px solid #9d0208;
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

.card-Ravenclaw {
  color: #000;
  text-align: center;
}

.text-Ravenclaw {
  color: #0096c7;
  text-align: center;
}

.Ravenclaw {
  border: 2px solid #0096c7;
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

.card-Slytherin {
  color: #000;
  text-align: center;
}

.text-Slytherin {
  color: #007200;
  text-align: center;
}

.Slytherin {
  border: 2px solid #007200;
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

.card-Hufflepuff {
  color: #000;
  text-align: center;
}

.text-Hufflepuff {
  color: #f9e141;
  text-align: center;
}

.Hufflepuff {
  border: 2px solid #f9e141;
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

button {
  width: 250px;
  height: 28px;
  background: #f9e141;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid transparent;
  margin-left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #f9e141;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .cards-list {
    display: flex;
    justify-content: center;
  }

  .Gryffindor {
    width: 150px;
    height: 200px;
  }

  .Ravenclaw {
    width: 150px;
    height: 200px;
  }

  .Slytherin {
    width: 150px;
    height: 200px;
  }

  .Hufflepuff {
    width: 150px;
    height: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-list {
    display: flex;
    justify-content: center;
  }

  .Gryffindor {
    width: 250px;
    height: 300px;
  }

  .Ravenclaw {
    width: 250px;
    height: 300px;
  }

  .Slytherin {
    width: 250px;
    height: 300px;
  }

  .Hufflepuff {
    width: 250px;
    height: 300px;
  }
}
