/* .App {
  display: flex;
  margin: 0 auto;
  justify-content: center;
} */

/* @media only screen and (min-width: 768px) {
  .cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .App {
    margin-top: 100px;
  }
} */
